@import url('https://googleapis.com');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #333333;
    color: white;
    width: 94.5%;
    margin: auto;
}
header {
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 6.8em;
    padding-right: 6.8em;
    background-color: #010f0e;
}
ul {
    list-style: none;
    display: flex;
    gap: 2rem;
}
.list {
    font-family: 'Inter', "Plus Jakarta Sans", sans-serif;
    font-size: 25px;
    letter-spacing: -0.01em;
}
.logo {
    font-size: 35px;
    font-weight: 700;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
}
.list :hover {
    border-bottom: 2px solid white;
}

.top-section {
    background-image: url("images/background.avif");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    padding-top: 15rem;
    padding-left: 6.8rem;
}

.title {
    width: 40vw;
    font-size: 56px;
    letter-spacing: 0.05em;
    font-weight: 950;
    margin-bottom: 3rem;
}
.message {
    width: 40vw;
    font-size: 26px;
    word-spacing: 0.05em;
    margin-bottom: 3rem;
}

button {
    width: 13.5vw;
    height: 7vh;
    border-radius: 5px;
    padding-left: 1rem;
    margin: 0;
    background-color: transparent;
    color: white;
    border: 2px solid white;
    cursor: pointer;
}
#book {
    font-size: 25px;
    text-align: left;
}
.middle-section {
    padding-top: 6rem;
    background-color: #111111;
    padding-bottom: 6rem;
}
.mid-title {
    font-size: 56px;
    letter-spacing: 0.05em;
    font-weight: 950;
    margin-bottom: 2rem;
    text-align: center;
}
.text {
    font-size: 46px;
    margin-bottom: 2rem;
    text-align: center;
    font-family: 'Montserrat', 'Futura', sans-serif;
    font-weight: 700; 
    color: #FCD116; 
    letter-spacing: -0.02em; 
}
.mid-message {
    width: 65rem;
    font-size: 26px;
    word-spacing: 0.05em;
    text-align: center;
    margin: 0 auto 7rem auto;
}
.images {
    display: flex;
    box-sizing: border-box;
    gap: 2rem;
    margin: auto;
    width: 74.8rem;
    justify-content: center;
}
.section-heading {
   font-size: 46px;
   letter-spacing: 0.05em;
   margin-top: 1rem;
   text-align: center;
   font-family: 'Montserrat', 'Futura', sans-serif;
   font-weight: 700; 
   color: #FCD116; 
   letter-spacing: -0.02em; 
}
img {
  width: 550px;
  height: 320px;
  border-radius: 1.5rem;
  object-fit: cover;
}
.description { 
    text-align: left;
    width: 100%;
    max-width: 550px;
    margin-top: 1rem;
    font-size: 23px;
    margin-bottom: 3rem;
}

#descripe { 
    text-align: center;
    width: 100%;
    max-width: 550px;
    margin-top: 1rem;
    font-size: 23px;
    margin-bottom: 3rem;
}
.second-part {
    margin-top: 40px;
    margin: auto;
    width: 1200px;
    text-align: center;
}
.big-image {
    width: 1200px;
    height: 90vh;
}
.description-bottom {
    text-align: center;
    width: 80%;
    margin: 2rem auto;
    font-size: 23px;
}
